:root {
    --primaryFont: 'Lato', sans-serif;
    --italicFont: 'Italianno', sans-serif;

    --primary       : hsl(174, 44%, 69%);
    --darkPrimary   : hsl(174, 44%, 59%);
    --secondary     : hsl(336, 60%, 69%); 
    --darkSecondary : hsl(336, 60%, 59%); 
    --grey          : hsl(0, 0%, 59%);
    --darkGrey      : hsl(0, 0%, 49%);
    --lightGrey     : hsl(0, 0%, 97%);
    --black         : hsl(0, 0%, 0%);
    --white         : hsl(0, 0%, 100%);
}

/* ==========================================================================
    Global Styles
    ========================================================================== */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    background-color: var(--lightGrey);
    font-family: var(--primaryFont);
    font-size: 1.6rem;
}

p {
    font-size: 2rem;
}


img {
    max-width: 100%;
    display: block;
    height: auto;
}

ul {
    padding:0;
    list-style: none;
    margin: 0;
}

/* ==========================================================================
    Typography
    ========================================================================== */

h1, h2, h3 {
    margin: 0;
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

a {
    text-decoration: none;
}

/* Typography classes
   ========================================================================== */

.heading {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 4rem;
}

.heading-italic {
    text-align: center;
    color: var(--secondary);
    font-family: var(--italicFont);
    line-height: .8;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 4rem;
}

.heading-italic span {
    color: var(--black);
    display: block;
    text-transform: uppercase;
    font-family: var(--primaryFont);
}
    
/* ==========================================================================
    Utility classes
    ========================================================================== */

.section {
    padding: 8rem 0;
}

.conteiner {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .conteiner {
        width: 80%;
    }
}

.btn {
    padding: 2rem 2rem;
    margin-top: 2rem;
    font-size: 2.2rem;
    font-weight: 400;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition: background-color;
    transition-duration: 300ms;
}

@media (min-width: 768px) {
    .btn {
        width: auto;
    }
}

.btn-color-1 {
    background-color: var(--primary);
    color: var(--white);
}

.btn-color-1:hover {
    background-color: var(--darkPrimary);
}

.btn-color-2 {
    background-color: var(--secondary);
    color: var(--white);
}

.btn-color-2:hover {
    background-color: var(--darkSecondary);
}

/*=============== Header ===============*/

.header {
    padding-top: 5rem;
}

.header-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .header-grid {
        flex-direction: row;
        justify-content: space-between;  
    }
}

/*=============== Social ===============*/

.social {
    margin: 5rem 0;
    display: flex;
}

@media (min-width: 768px) {
    .social {
        margin: 0;
    }
}

.social a::before {
    content: '';
    padding: 2rem;
    display: inline-block;
}

.social a[href*="facebook.com"]::before {
    background-image: url(../img/icono_facebook.svg); 
}

.social a[href*="twitter.com"]::before {
    background-image: url(../img/icono_twitter.svg); 
}

.social a[href*="instagram.com"]::before {
    background-image: url(../img/icono_instagram.svg); 
}

.social a[href*="youtube.com"]::before {
    background-image: url(../img/icono_youtube.svg); 
}

.social a[href*="tiktok.com"]::before {
    background-image: url(../img/icono_tiktok.svg); 
}

.social a[href*="pinterest.com"]::before {
    background-image: url(../img/icono_pinterest.svg); 
}

.social span {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    display: block;
}


/*=============== Navigation ===============*/

.navigation {
    background-color: var(--primary);
    padding: .3rem 0;
    margin: 2rem 0;
}

.navigation-border {
    border-block: 2px dashed var(--white);
    padding: 1.7rem 0;
}

.navigation-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-conteiner a {
    color: var(--white);
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}

.navigation-conteiner a:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .navigation-conteiner {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .navigation-conteiner a {
        margin-bottom: 0;
    }
}

/*=============== Swiper ===============*/

.swiper-slide {
    height: 100%;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    transition-property: transform;
}

.swiper img {
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--white);
}

.swiper-pagination-bullet{
    background-color: var(--white);
    opacity: .5;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary);
}
